<div class="module calendarday" ng-controller="calendardayController">
  <div class="navigation-bar">
    <koa-button class="arrow-back" ng-click="changeDay(true)">Prev</koa-button>
    <p class="actual-view">{{actualView.format('ddd DD MMM YYYY')}}</p>
    <koa-button class="arrow-forward" ng-click="changeDay()" >Next</koa-button>
  </div>
  <div class="error" ng-if="error">{{error}}</div>
  <div class="calendar-items" ng-repeat="event in events | orderBy : 'start.dateTime || start.date'">
    <koa-item class="day-event">
      <div class="text">
        <div class="event-summary">{{event.summary}}</div>
        <div class="event-duration" ng-if="isDateTimeEvent(event)">{{eventStart}} - {{eventEnd}}</div>
        <div class="event-description">{{event.description}}</div>
      </div>
    </koa-item>
  </div>
  <div ng-if="emptyEvents">
    <koa-item class="empty-day" >
      <div class="error-message">{{emptyEvents}}</div>
    </koa-item>
  </div>


</div>
